/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
.img-responsive {
  display: block;
  /*    max-width: 100%;*/
  width: 100%;
  height: auto; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.hide {
  display: none !important; }

.show {
  display: block !important; }

.no-padding-bottom-mobile {
  padding-bottom: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.right-border {
  border-right: 1px solid; }

@media screen and (max-width: 768px) {
  .hide-tablet-mobile {
    display: none; } }
@media screen and (min-width: 431px) {
  .no-padding-bottom-tablet {
    padding-bottom: 0 !important; } }
@media screen and (min-width: 769px) {
  .no-padding-tablet-desktop {
    padding-bottom: 0 !important; }

  .padding-80-top {
    padding-top: 5em !important; } }
html {
  font-size: 1em; }

body {
  font-family: 'Open Sans', sans-serif, Arial; }

a, a:active, a:visited {
  color: #cc3300;
  text-decoration: none; }

p, ul {
  line-height: 1.4em;
  font-size: 1em;
  font-weight: 300;
  margin: 0 0 0.9375em 0; }

h1 {
  font-size: 1.375em;
  margin: 0;
  font-weight: 600; }

h2 {
  margin: 0;
  margin-bottom: 0.9375em;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.25em; }

body.open .body-section {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed; }
body.open header {
  height: 100vh;
  position: fixed; }
  body.open header .nav-wrapper {
    display: block; }
  body.open header .top-header {
    position: absolute;
    z-index: 5;
    width: 100%;
    background-color: #000; }
  body.open header .nav-wrapper {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: calc(100% - 63px);
    overflow: auto;
    top: 3.9375em;
    -webkit-overflow-scrolling: touch; }
  body.open header a, body.open header a:active, body.open header a:visited {
    color: #fff;
    text-decoration: none; }
  body.open header address.menu {
    margin-bottom: 6.25em; }

.open-form header .nav-wrapper {
  display: none !important; }
.open-form header .form-wrapper {
  display: block; }
.open-form .error {
  display: inline-block;
  color: red;
  margin-bottom: 1.25em; }

.form-result {
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  text-align: center; }

.form-result-quick {
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  text-align: center; }

.form-result.fail {
  background: red; }

body.open header, body.on-scroll-change header {
  background-color: #000; }

.on-scroll-change header {
  position: fixed; }

#nav-icon3 {
  width: 1.875em;
  height: 1.875em;
  position: relative;
  float: right;
  margin: 1.25em 0.9375em 0 0; }

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 0.125em;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon3 span:nth-child(1) {
  top: 0em; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 0.5625em; }

#nav-icon3 span:nth-child(4) {
  top: 1.125em; }

#nav-icon3.open span:nth-child(1) {
  top: 0em;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 0em;
  width: 0%;
  left: 50%; }

.quick-info {
  padding: 0.625em;
  position: fixed;
  top: 50%;
  margin-top: -1.1875em;
  right: 0;
  background-color: #ff9900;
  cursor: pointer;
  z-index: 100; }
  .quick-info a, .quick-info a:active, .quick-info a:visited {
    text-decoration: none;
    color: #000; }

body.open .quick-info {
  display: none; }

header {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 10; }
  header .logo-laced {
    float: left;
    margin: 0.9375em 0 0 0.9375em; }
  header .nav-wrapper {
    display: none; }
    header .nav-wrapper nav {
      margin: 4.0625em 0.9375em 0.9375em 0.9375em; }
      header .nav-wrapper nav a {
        font-size: 1.9375em;
        text-decoration: none;
        display: block;
        margin-bottom: 0.125em;
        /*text-rendering: optimizeLegibility;*/ }
      header .nav-wrapper nav a:active, header .nav-wrapper nav a:visited, header .nav-wrapper nav a {
        color: #fff; }
      header .nav-wrapper nav a.current {
        color: #cb3302; }
  header .form-wrapper {
    display: none;
    position: absolute;
    z-index: 4;
    width: 100%;
    height: calc(100% - 63px);
    overflow: auto;
    top: 3.9375em;
    -webkit-overflow-scrolling: touch; }
    header .form-wrapper p {
      color: white;
      margin: 0;
      padding-bottom: 0.625em;
      font-size: 1.125em;
      font-weight: bold; }
    header .form-wrapper > div {
      padding: 2.5em 0.9375em 2.5em 0.9375em; }
    header .form-wrapper .input-form, header .form-wrapper .textarea-form {
      display: block;
      width: 100%;
      background: none;
      border: 1px solid white;
      box-sizing: border-box;
      color: white;
      outline: none; }
    header .form-wrapper .input-form {
      padding: 0.5625em 0.625em 0.5625em 0.625em;
      margin-bottom: 1.25em; }
    header .form-wrapper .textarea-form {
      margin-bottom: 0.625em;
      min-height: 10em;
      padding: 0.5625em 0.625em;
      resize: none; }
    header .form-wrapper .input-form.error {
      margin-bottom: 0.3125em; }
    header .form-wrapper .textarea-form.error {
      margin-bottom: 0.3125em; }
    header .form-wrapper ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white; }
    header .form-wrapper ::-moz-placeholder {
      /* Firefox 19+ */
      color: white; }
    header .form-wrapper :-ms-input-placeholder {
      /* IE 10+ */
      color: white; }
    header .form-wrapper :-moz-placeholder {
      /* Firefox 18- */
      color: white; }
    header .form-wrapper .submit-btn {
      display: block;
      width: 100%;
      max-width: 7.5em;
      padding: 0.625em 0;
      margin: 0 auto;
      border: 0;
      background-color: #841f08;
      box-sizing: border-box;
      color: white; }

.get-directions-btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: black !important;
  border: 1px solid black;
  padding: 0.3125em 0.625em;
  margin-bottom: 6.25em; }

.contact-form-container .error {
  display: inline-block;
  color: red;
  margin-bottom: 1.25em; }
.contact-form-container .input-form, .contact-form-container .textarea-form {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid black;
  box-sizing: border-box;
  color: black;
  outline: none; }
.contact-form-container .input-form {
  padding: 0.5625em 0.625em 0.5625em 0.625em;
  margin-bottom: 1.25em; }
.contact-form-container .input-form.error {
  margin-bottom: 0; }
.contact-form-container .textarea-form.error {
  margin-bottom: 0; }
.contact-form-container .textarea-form {
  margin-bottom: 2.5em;
  min-height: 10em;
  padding: 0.5625em 0.625em;
  resize: none; }
.contact-form-container ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black; }
.contact-form-container ::-moz-placeholder {
  /* Firefox 19+ */
  color: black; }
.contact-form-container :-ms-input-placeholder {
  /* IE 10+ */
  color: black; }
.contact-form-container :-moz-placeholder {
  /* Firefox 18- */
  color: black; }
.contact-form-container .submit-btn {
  display: block;
  width: 100%;
  max-width: 7.5em;
  padding: 0.625em 0;
  border: 0;
  background-color: #841f08;
  box-sizing: border-box;
  color: white; }

.contact-page .contact-container .title-section {
  display: none; }

ul.menu-social-links {
  list-style: none;
  margin: 3.125em 0 2.5em 0.9375em;
  padding: 0; }
  ul.menu-social-links a:active, ul.menu-social-links a:visited, ul.menu-social-links a {
    color: #000;
    font-size: 2.5em; }
  ul.menu-social-links li {
    float: left;
    display: inline-block;
    margin: 0 1.125em 0 0; }

address.menu {
  display: none; }

.menu-phone, .menu-address {
  color: #fff;
  font-style: normal;
  margin: 2.6875em 0 0 0.75em;
  font-size: 1.375em; }

.menu-address {
  margin: 0.9375em 0 0 0.75em; }

#hero-banner {
  position: relative; }
  #hero-banner:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 177.77778%; }
  #hero-banner > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  #hero-banner img {
    width: 100%; }

section .item-wrapper {
  padding: 0.625em 0.9375em 2.5em 0.9375em; }
  section .item-wrapper .left-column img {
    margin-bottom: 1.25em; }

.title-section {
  margin: 2.5em 0 1.25em 0.9375em; }

.services-items h2 {
  margin-bottom: 0; }

p.p-short-caption {
  line-height: 1em;
  font-size: 0.875em; }

a.more-details, .footer-quick-form {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-size: 0.75em;
  font-weight: 400;
  padding: 0.5em;
  border: 1px #000 solid;
  text-decoration: none; }

.contact-content {
  text-align: center;
  margin-bottom: 3.75em; }
  .contact-content .footer-logo {
    margin-bottom: 2.5em; }
    .contact-content .footer-logo .logo-wrapper {
      display: inline-block;
      width: 4em; }
      .contact-content .footer-logo .logo-wrapper img {
        width: 100%; }
  .contact-content ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 12.1875em; }
    .contact-content ul li:last-child {
      margin-right: 0; }

.footer-quick-form {
  text-transform: capitalize; }

.contact-container address p {
  font-style: normal;
  font-size: 0.875em;
  font-weight: 300; }

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }
  .video-wrapper iframe,
  .video-wrapper object,
  .video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.player-wrapper {
  position: relative; }

.play-button:after, .play-button:before {
  content: "";
  display: block;
  border-radius: 50%; }

.play-button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: #191919;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.play-button:before {
  width: 125px;
  height: 125px;
  -webkit-transition: opacity .2s;
  transition: opacity .2s; }

.play-button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: top .2s ease;
  transition: top .2s ease; }

.youtube-player__play {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s; }

.play-button__triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
  /* transform: translate(-40%,-50%); */
  width: 50%;
  height: 50%;
  fill: #fff;
  z-index: 20; }

.youtube-player__close-btn {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  pointer-events: none;
  top: 16px;
  right: 15px;
  position: absolute;
  width: 30px;
  height: 30px; }

.youtube-player__close-btn:after, .youtube-player__close-btn:before {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: width .25s ease;
  transition: width .25s ease; }

.youtube-player__close-btn:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.youtube-player__close-btn:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.youtube-player--show-close-btn {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  z-index: 4; }

.border {
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  box-sizing: border-box; }

.info-box {
  text-align: center;
  padding: 1.875em !important; }
  .info-box p {
    margin: 0 0 0.625em 0 !important;
    padding: 0 !important;
    font-size: 0.75em; }
  .info-box h2 {
    margin: 0 !important;
    padding: 0 !important; }
  .info-box .heading {
    margin: 0.625em 0;
    height: auto !important;
    display: block !important; }

.info-box.min-height {
  min-height: 28.75em; }

.info-box.vcenter {
  padding: 8.125em 1.875em !important;
  min-height: 380px; }
  .info-box.vcenter > div {
    display: block !important;
    height: auto !important; }

.quote {
  color: #fff;
  background-color: #c22f1e;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff; }
  .quote .quote-symbol {
    font-size: 3.75em;
    display: block;
    height: 60px; }
  .quote blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0; }

footer {
  margin-top: 6.25em; }

.default .blog-container .item {
  width: 100%; }
.default .clients-container .item {
  float: left;
  width: 33.3333333%; }
.default .awards-container .item {
  float: left;
  width: 50%; }
.default .services-container .item {
  width: 100%; }
  .default .services-container .item .left-column {
    float: left;
    margin-right: 2.5em; }
  .default .services-container .item .right-column {
    float: left;
    width: calc(100% - 90px); }
    .default .services-container .item .right-column h2 {
      margin-top: 0; }
    .default .services-container .item .right-column ul {
      list-style: none;
      margin: 0;
      padding: 0; }
.default .careers-container .one-half .item {
  width: 50%;
  float: left; }
.default .careers-container .one-third .item {
  width: 33.333333333%;
  float: left; }
.default .clients-container figure {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #fff; }
  .default .clients-container figure:before {
    display: block;
    content: "";
    padding-bottom: 100%; }
  .default .clients-container figure picture {
    height: 2.5em;
    width: 100%;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    margin-top: -1.25em;
    text-align: center; }
    .default .clients-container figure picture img {
      height: 100%; }
.default .clients-container figure.no-border-top {
  border-top: none !important; }
.default .clients-container figure.border-right-light {
  border-right: 1px solid #fff !important; }
.default .awards-items .items picture {
  display: block; }
.default .awards-items p {
  text-align: center;
  font-size: 1em;
  line-height: 0.65625em; }
.default .awards-items .award-year {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0.625em;
  margin-top: 0.625em; }
.default .awards-items .award-copy {
  font-weight: 400;
  font-size: 0.65625em; }

.overview .item-wrapper > div, .detail .item-wrapper > div {
  height: 4.0625em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end; }
.overview .hero-content, .detail .hero-content {
  padding: 1.25em 0.9375em 0 0.9375em; }
.overview section, .detail section {
  margin-bottom: 3.75em; }
  .overview section .item-wrapper, .detail section .item-wrapper {
    padding: 0 0.9375em 1.25em 0.9375em; }
    .overview section .item-wrapper h2, .detail section .item-wrapper h2 {
      margin-bottom: 0; }
.overview section.full, .detail section.full {
  float: none;
  width: 100%; }
.overview #hero-banner-section, .detail #hero-banner-section {
  margin-bottom: 2.5em;
  float: none;
  width: 100%; }
.overview .overview footer p, .overview .detail footer p, .detail .overview footer p, .detail .detail footer p {
  margin-bottom: 1em; }
.overview footer .title-section, .detail footer .title-section {
  margin-top: 0; }
.overview .detail-section, .detail .detail-section {
  width: 100%;
  float: none;
  margin-bottom: 0; }
.overview .with-contrast, .detail .with-contrast {
  background-color: #000;
  color: #fff;
  position: relative;
  padding-top: 9.375em; }
  .overview .with-contrast h2, .detail .with-contrast h2 {
    color: #cc3300; }
.overview .with-icon:before, .detail .with-icon:before {
  position: absolute;
  top: 0.9375em;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px; }
.overview .with-icon.service-mm-icon:before, .detail .with-icon.service-mm-icon:before {
  content: url(../images/services-dr/icon-media-management-white.png); }
.overview .with-icon.service-da-icon:before, .detail .with-icon.service-da-icon:before {
  content: url(../images/services-dr/data-analysis-white.png); }
.overview .with-icon.service-creative-icon:before, .detail .with-icon.service-creative-icon:before {
  content: url(../images/services-dr/icon-creative-white.png); }
.overview .with-icon.service-tech-icon:before, .detail .with-icon.service-tech-icon:before {
  content: url(../images/services-dr/icon-technical-white.png); }
.overview .inner, .detail .inner {
  padding: 0.9375em; }
  .overview .inner p, .detail .inner p {
    font-size: 0.75em;
    margin-bottom: 0.625em; }

.detail section {
  margin-bottom: 0; }
.detail #hero-banner {
  position: relative; }
  .detail #hero-banner:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 133.33333%; }
  .detail #hero-banner > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .detail #hero-banner img {
    width: 100%; }
.detail #hero-banner-section {
  margin-bottom: 0; }
.detail h2, .detail p {
  margin: 0; }
.detail ul {
  margin-bottom: 0; }
.detail .main {
  padding: 0.9375em; }
  .detail .main > div {
    margin-bottom: 1.875em; }
.detail .detail-section {
  width: 100%;
  float: none;
  margin-bottom: 0; }
  .detail .detail-section p {
    margin-top: 1.875em; }
.detail .detail-content-wrapper {
  padding: 0.9375em; }
  .detail .detail-content-wrapper > div {
    margin-bottom: 1.875em; }
.detail .detail-img-separator {
  height: 1.25em; }
.detail .title-section {
  margin: 0 0 0 0.9375em; }
.detail .detail.contact .title-section {
  margin: 2.5em 0 1.25em 0.9375em; }
.detail .more-work {
  margin-top: 5em; }
  .detail .more-work section {
    margin-top: 5em; }
.detail .contact-container {
  margin-top: 5em; }
  .detail .contact-container address p {
    margin-bottom: 1em; }
.detail .contact-content {
  margin-top: 1.5625em; }
.detail footer h1 {
  margin-top: 0; }

.detail.service .title-section h1, .detail.careers .title-section h1 {
  margin-top: 1.875em;
  margin-bottom: 1.25em; }
.detail.service .icon, .detail.careers .icon {
  width: 50px;
  height: 50px; }
.detail.service .icon-container, .detail.careers .icon-container {
  width: 100px;
  height: 100px;
  float: left;
  box-sizing: border-box;
  padding: 0.625em;
  text-align: center; }
.detail.service section.centered, .detail.careers section.centered {
  max-width: 300px;
  margin: 0 auto 3.75em auto; }
.detail.service .icon, .detail.careers .icon {
  width: 50px;
  height: 50px; }
.detail.service .icon.centered, .detail.careers .icon.centered {
  display: block;
  margin: 0 auto; }
.detail.service .item-wrapper, .detail.careers .item-wrapper {
  margin-bottom: 3.75em; }
  .detail.service .item-wrapper > div, .detail.careers .item-wrapper > div {
    height: auto;
    display: block; }
  .detail.service .item-wrapper .heading, .detail.careers .item-wrapper .heading {
    margin-top: 1.25em; }

.detail.contact .title-section {
  margin-top: 1.25em; }
.detail.contact .direction-wrapper {
  margin: 2.5em 0 3.75em 0; }

.video-trigger picture {
  cursor: pointer; }

.careers .title-section {
  margin-top: 5em !important; }
.careers .careers-container {
  width: 100%;
  float: none;
  margin-bottom: 0; }
  .careers .careers-container .one-half .item {
    width: 50%;
    float: left; }
  .careers .careers-container .one-third .item {
    width: 33.333333333%;
    float: left; }

.jamba-juice-banners {
  text-align: center; }

.banner-to-hide {
  display: none !important; }

/*@import "_partials/_detail.scss";*/
@media screen and (min-width: 431px) {
  #hero-banner {
    position: relative; }
    #hero-banner:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%; }
    #hero-banner > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

  #nav-icon3 {
    margin-right: 1.875em; }

  p {
    line-height: 1.78125em;
    font-size: 1.125em; }

  h1 {
    font-size: 1.75em; }

  h2 {
    font-size: 1.125em;
    line-height: 1.25em; }

  address.menu {
    display: block; }

  header .logo-laced {
    margin: 0.9375em 0 0 1.875em; }
  header .nav-wrapper nav {
    margin-left: 1.875em; }
  header .nav-wrapper ul.menu-social-links {
    margin-left: 1.875em; }

  .contact-container address p {
    font-size: 1em; }

  .menu-phone, .menu-address {
    margin-left: 1.375em; }

  section .item-wrapper {
    padding-left: 1.875em; }

  .more-details, .footer-quick-form {
    font-size: 0.75em; }

  .col-sm-2 {
    float: left;
    width: 50% !important; }

  .col-sm-3 {
    float: left;
    width: 33.33333% !important; }

  .jamba-juice-banners {
    padding-bottom: 5em; } }
@media screen and (min-width: 769px) {
  p {
    line-height: 1.78125em;
    font-size: 1.125em; }

  h2 {
    font-size: 1.125em;
    line-height: 1.125em; }

  .contact-container address {
    font-size: 1em; }

  .more-details, .footer-quick-form {
    font-size: 0.75em; }

  .col-md-2 {
    float: left;
    width: 50% !important; }

  .col-md-3 {
    float: left;
    width: 33.33333% !important; }

  .col-md-4 {
    float: left;
    width: 25% !important; }

  .col-md-6 {
    float: left;
    width: 16.6666666% !important; }

  .jamba-juice-banners {
    padding-bottom: 0; }

  .banner-to-hide {
    display: block !important; } }
@media screen and (min-width: 1280px) {
  #nav-icon3 {
    display: none; }

  address.menu {
    display: none; }

  p {
    line-height: 1.78125em;
    font-size: 1.125em; }

  h2 {
    font-size: 1.125em;
    line-height: 1.25em; }

  .title-section {
    /*font-size: $title-xlg-font-size;*/ }

  .contact-container address {
    font-size: 1em; }

  .more-details, .footer-quick-form {
    font-size: 0.75em; }

  header .nav-wrapper {
    display: inline-block;
    position: absolute;
    top: 0.875em;
    right: 0; }
    header .nav-wrapper .menu-social-links {
      display: none; }
    header .nav-wrapper nav {
      margin: 0 0.9375em 0.9375em 0.9375em; }
      header .nav-wrapper nav a {
        font-size: 1em;
        text-decoration: none;
        display: inline-block;
        float: left;
        margin-right: 0.9375em;
        margin-bottom: 0.125em; }
  header .form-wrapper {
    display: none !important; }

  .col-lg-4 {
    float: left;
    width: 25% !important; } }
@media screen and (min-width: 431px) {
  .default .title-section {
    margin-left: 1.875em; }
  .default .awards-container .item {
    width: 33.333333333%; }
  .default .clients-container figure picture {
    height: 4em;
    margin-top: -2em; }
  .default .clients-container figure.border-top-tablet-desktop {
    border-top: 1px solid #e1e1e1 !important; }
  .default .clients-container figure.border-right-tablet-desktop {
    border-right: 1px solid #e1e1e1 !important; }
  .default .work-container .item {
    float: left;
    width: 50%; }
  .default .services-container .item {
    float: left;
    width: 33.333333333%; }
    .default .services-container .item .left-column {
      float: none;
      margin-right: 0;
      text-align: center; }
    .default .services-container .item .right-column {
      float: none;
      width: 100%; }
      .default .services-container .item .right-column h2 {
        margin-top: 0; }
      .default .services-container .item .right-column ul {
        list-style: none;
        margin: 0;
        padding: 0; }
  .default .awards-items p {
    margin-bottom: 1.875em;
    font-size: 1em;
    line-height: 0.8125em; }
  .default .awards-items .award-year {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.8125em;
    margin-top: 0.625em; }
  .default .awards-items .award-copy {
    font-weight: 400;
    font-size: 0.8125em; } }
@media screen and (min-width: 769px) {
  .default .work-container .item {
    width: 25%; }
  .default .clients-container .item, .default .awards-container .item {
    width: 16.666666%; }
  .default section.services-container .item-wrapper {
    padding: 0.625em 15% 2.5em 15%; }
    .default section.services-container .item-wrapper p {
      margin: 0; }
  .default .awards-items .item picture {
    /*padding: em(20);*/ } }
@media screen and (min-width: 431px) {
  .overview section, .detail section {
    width: 50%;
    float: left; }
  .overview .hero-content, .detail .hero-content {
    padding: 1.25em 1.875em 0 1.875em; }
  .overview section .item-wrapper, .detail section .item-wrapper {
    padding-left: 1.875em; }
  .overview .with-icon:before, .detail .with-icon:before {
    top: 5em; }

  .detail .main {
    padding-bottom: 5em;
    padding-left: 4.375em;
    padding-right: 4.375em; }
    .detail .main h2 {
      margin: 0; }
    .detail .main p {
      margin: 1.25em 0 0 0; }
  .detail h2 {
    margin-top: 0; }
  .detail #hero-banner {
    position: relative; }
    .detail #hero-banner:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%; }
    .detail #hero-banner > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .detail #hero-banner img {
      width: 100%; }
  .detail .detail-section p {
    margin-left: 0; }
  .detail .detail-content-wrapper {
    padding: 5em 4.375em 5em 4.375em; }
  .detail .more-work section {
    float: left;
    width: 50%; }
  .detail .detail-split-section {
    width: 100%;
    float: none; }
  .detail .more-details.main {
    margin-left: 1.875em; }
  .detail .title-section {
    margin-left: 1.875em; }

  .detail.contact .title-section {
    margin: 6.25em 0 2.5em 1.875em; }
  .detail.contact .direction-wrapper {
    margin: 2.5em 0 6.25em 0; }

  .detail.service section.centered, .detail.careers section.centered {
    display: none; } }
@media screen and (min-width: 769px) {
  .overview section, .detail section {
    width: 33.3333%;
    float: left; }
  .overview .detail-content-wrapper, .detail .detail-content-wrapper {
    padding: 5em 25%; }
  .overview .more-work section, .detail .more-work section {
    float: left;
    width: 33.3333%; }
  .overview .detail-split-section .left, .overview .detail-split-section .right, .detail .detail-split-section .left, .detail .detail-split-section .right {
    float: left;
    width: 50%; }
  .overview .detail-split-section .detail-content-wrapper.right, .detail .detail-split-section .detail-content-wrapper.right {
    padding: 0; }
    .overview .detail-split-section .detail-content-wrapper.right > div, .detail .detail-split-section .detail-content-wrapper.right > div {
      padding: 2.5em 3.125em 0 3.125em; }
  .overview footer .title-section, .detail footer .title-section {
    margin-left: 1.875em; }
  .overview .with-contrast, .detail .with-contrast {
    padding-top: 0; }
  .overview .with-icon:before, .detail .with-icon:before {
    top: 50%;
    margin-top: -50px;
    left: calc(12.5% - 50px); }
  .overview .inner, .detail .inner {
    padding: 1.875em; }

  .detail .main {
    padding-left: 25%;
    padding-right: 25%; } }
@media screen and (min-width: 1280px) {
  .detail .detail-split-section .right > div {
    margin-top: 5em; }

  .service section .item-wrapper, .careers section .item-wrapper {
    padding: 0 25%; }
  .service .col-xlg-2, .careers .col-xlg-2 {
    width: 50%;
    float: left; }
  .service .col1, .careers .col1 {
    padding: 3.75em 2.5em 2.5em 2.5em;
    box-sizing: border-box;
    text-align: center; }
    .service .col1 .heading, .careers .col1 .heading {
      font-size: 1.375em; }
  .service .col2, .careers .col2 {
    padding: 3.75em 2.5em 2.5em 5em;
    box-sizing: border-box; }
  .service .main .title, .careers .main .title {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-top: -28px;
    margin-left: -430px;
    font-size: 20px;
    color: white;
    text-align: center; }
  .service .title-section, .careers .title-section {
    margin-top: 1.25em; }
    .service .title-section h1, .careers .title-section h1 {
      margin: 0 !important; }
  .service .hide-desktop, .careers .hide-desktop {
    display: none; }
  .service #hero-banner-section, .careers #hero-banner-section {
    position: relative; } }
/*@import "_partials/_detail_breakpoints.scss";*/

/*# sourceMappingURL=main.css.map */
