@import "_colors.scss";
@import "_variables.scss";
@import "_functions.scss";

@media screen and (min-width: 431px) {
    #hero-banner {
        @include aspect-ratio(16, 9);
    }

    #nav-icon3 {
        margin-right: em(30);
    }

    p {
        line-height: $p-md-line-height;
        font-size: $p-md-font-size;
    }

    h1 {
        font-size: $title-md-font-size;
    }

    h2 {
        font-size: $h2-md-font-size;
        line-height: $h2-md-line-height;
    }

    address.menu {
        display: block;
    }

    header {
        .logo-laced {
            margin: em(15) 0 0 em(30);
        }

        .nav-wrapper {
            nav {
                margin-left: em(30);
            }

            ul.menu-social-links {
                margin-left: em(30);
            }
        }
    }

    .contact-container {
        address {
            p {
                font-size: $footer-md-font-size;
            }
        }
    }

    .menu-phone, .menu-address {
        margin-left: em(22);
    }

    section {
        .item-wrapper{
            padding-left: em(30);
        }
    }

    .more-details, .footer-quick-form {
        font-size: $more-detail-md-font-size;
    }

    .col-sm-2 {
        float: left;
        width: 50% !important;
    }
    
    .col-sm-3 {
        float: left;
        width: 33.33333% !important;
    }

    .jamba-juice-banners {
        padding-bottom: em(80);
    }
}

@media screen and (min-width: 769px) {
    p {
        line-height: $p-lg-line-height;
        font-size: $p-lg-font-size;
    }

    h2 {
        font-size: $h2-lg-font-size;
        line-height: $h2-lg-line-height;
    }

    .contact-container address {
        font-size: $footer-lg-font-size;
    }

    .more-details, .footer-quick-form {
        font-size: $more-detail-lg-font-size;
    }
    
    .col-md-2 {
        float: left;
        width: 50% !important;
    }
    
    .col-md-3 {
        float: left;
        width: 33.33333% !important;
    }

    .col-md-4 {
        float: left;
        width: 25% !important;
    }
    
    .col-md-6 {
        float: left;
        width: 16.6666666% !important;
    }

    .jamba-juice-banners {
        padding-bottom: 0;
    }

    .banner-to-hide {
        display: block !important;
    }
}

@media screen and (min-width: 1280px) {
    #nav-icon3 {
        display: none;
    }

    address.menu {
        display: none;
    }

    p {
        line-height: $p-xlg-line-height;
        font-size: $p-xlg-font-size;
    }

    h2 {
        font-size: $h2-xlg-font-size;
        line-height: $h2-xlg-line-height;
    }

    .title-section {
        /*font-size: $title-xlg-font-size;*/
    }

    .contact-container address {
        font-size: $footer-xlg-font-size;
    }

    .more-details, .footer-quick-form {
        font-size: $more-detail-xlg-font-size;
    }

    header {
        .nav-wrapper {
            display: inline-block;
            position: absolute;
            top: em(14);
            right: 0;

            .menu-social-links {
                display: none;
            }

            nav {
                margin: 0 em(15) em(15) em(15);
                a {
                    font-size: em(16);
                    text-decoration: none;
                    display: inline-block;
                    float: left;
                    margin-right: em(15);
                    margin-bottom: em(2);
                }
            }
        }
        .form-wrapper{
            display: none !important;
        }
    }
    
    .col-lg-4 {
        float: left;
        width: 25% !important;
    }
}


