@import "_colors.scss";
@import "_variables.scss";
@import "_functions.scss";

@media screen and (min-width: 431px) {
    .default {
        .title-section {
            margin-left: em(30);
        }

        .awards-container {
            .item {
                width: 33.333333333%;
            }
        }
        
        .clients-container {
            figure {
                picture {
                    height: em(64);
                    margin-top: em(-32);
                }
            }
            figure.border-top-tablet-desktop {
                border-top: 1px solid $border-color !important;
            }
            figure.border-right-tablet-desktop {
                border-right: 1px solid $border-color !important;
            }
        }

        .work-container {
            .item {
                float: left;
                width: 50%;
            }
        }

        .services-container {
            .item {
                float: left;
                width: 33.333333333%;
                .left-column {
                    float: none;
                    margin-right: 0;
                    text-align: center;
                }
                .right-column {
                    float: none;
                    width: 100%;
                    h2 {
                        margin-top: 0;
                    }
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }

        .awards-items {
            p {
                margin-bottom: em(30);
                font-size: em(16);
                line-height: em(13);
            }
            .award-year {
                font-weight: 600;
                display: inline-block;
                margin-bottom: em(13);
                margin-top: 0.625em;
            }
            .award-copy {
                font-weight: 400;
                font-size: em(13);
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .default {
        .work-container {
            .item {
                width: 25%;
            }
        }

        .clients-container, .awards-container {
            .item {
                width: 16.666666%;
            }
        }

        section.services-container {
            .item-wrapper{
                padding: em(10) 15% em(40) 15%;
                p {
                    margin: 0;
                }  
            }
        }

        .awards-items .item picture {
            /*padding: em(20);*/
        }
    }
}