.default {
    .blog-container {
        .item {
            width: 100%;
        }
    }

    .clients-container {
        .item {
            float: left;
            width: 33.3333333%;
        }
    }
    
    .awards-container {
        .item {
            float: left;
            width: 50%;
        }
    }

    .services-container {
        .item {
            width: 100%;
            .left-column {
                float: left;
                margin-right: em(40);
            }
            .right-column {
                float: left;
                width: calc(100% - 90px);
                h2 {
                    margin-top: 0;
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .careers-container {
        .one-half {
            .item {
                width: 50%;
                float: left;
            }
        }

        .one-third {
            .item {
                width: 33.333333333%;
                float: left;
            }
        }
    }

    .clients-container {
        figure {
            margin: 0;
            position: relative;
            box-sizing: border-box;
            border-top: 1px solid $border-color;
            border-right: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            border-left: 1px solid $no-border-color;
            &:before {
                display: block;
                content: "";
                padding-bottom: 100%;
            }
            picture {
                height: em(40);
                width: 100%;
                position: absolute;
                display: block;
                top: 50%;
                left: 0;
                margin-top: em(-20);
                text-align: center;
                img {
                    height: 100%;
                }
            }
        }
        figure.no-border-top {
            border-top: none !important;
        }
        figure.border-right-light {
            border-right: 1px solid $no-border-color !important;
        }
    }

    .awards-items {
        .items {
            picture {
                display: block;
            }
        }
        p {
            text-align: center;
            font-size: em(16);
            line-height: em(10.5);
        }
        .award-year {
            font-weight: 600;
            display: inline-block;
            margin-bottom: em(10);
            margin-top: 0.625em;
        }
        .award-copy {
            font-weight: 400;
            font-size: em(10.5);
        }
    }
}