$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Keep a specified aspect ratio.
// E.g. @include box-aspect-ratio(16/9);
@mixin box-aspect-ratio($ratio: 2) {
  $gap: 100 / $ratio;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: #{$gap + "%"};
}

// Shorthand mixin for the child element.
@mixin fill-parent() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


