@import "_colors.scss";
@import "_variables.scss";
@import "_functions.scss";

html {
    font-size: em(16);
}

body {
    font-family: 'Open Sans', sans-serif, Arial;
}

a, a:active, a:visited {
    color: $laced-color;
    text-decoration: none;
}

p, ul {
    line-height: $p-sm-line-height;
    font-size: $p-sm-font-size;
    font-weight: 300;
    margin: 0 0 em(15) 0;
}

h1 {
    font-size: $title-sm-font-size;
    margin: 0;
    font-weight: 600;
}

h2 {
    margin: 0;
    margin-bottom: em(15);
    font-size: $h2-sm-font-size;
    font-weight: 400;
    line-height: $h2-sm-line-height;
}

body.open {
    .body-section {
        overflow: hidden;
        width: 100%;
        height: 100vh;
        position: fixed;
    }

    header {
        height: 100vh;
        position: fixed;
        .nav-wrapper {
            display: block;
        }
        .top-header {
            position: absolute;
            z-index: 5;
            width: 100%;
            background-color: #000;
        }
        .nav-wrapper {
            position: absolute;
            z-index: 4;
            width: 100%;
            height: calc(100% - 63px);
            overflow: auto;
            top: em(63);
            -webkit-overflow-scrolling: touch;
        }
        a, a:active, a:visited {
            color: #fff;
            text-decoration: none;
        }
        address.menu {
            margin-bottom: em(100);
        }

    }
}


.open-form{
    header{
        .nav-wrapper{
            display: none !important;
        }
        .form-wrapper{
            display: block;
        }
    }

    .error{
        display: inline-block;
        color: red;
        margin-bottom: em(20);
    }
}

.form-result {
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
}

.form-result-quick {
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

.form-result.fail{
    background: red;
}

body.open, body.on-scroll-change {
    header {
        background-color: #000;
    }
}

.on-scroll-change {
    header {
        position: fixed;
    }
}

#nav-icon3 {
    width: em(30);
    height: em(30);
    position: relative;
    float: right;
    margin: em(20) em(15) 0 0
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: em(2);
    width: 100%;
    background: #fff;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: em(0);
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: em(9);
}

#nav-icon3 span:nth-child(4) {
    top: em(18);
}

#nav-icon3.open span:nth-child(1) {
    top: em(0);
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: em(0);
    width: 0%;
    left: 50%;
}

.quick-info {
    padding: em(10);
    position: fixed;
    top: 50%;
    margin-top: em(-19);
    right: 0;
    background-color: #ff9900;
    cursor: pointer;
    z-index: 100;
    a, a:active, a:visited {
        text-decoration: none;
        color: #000;
    }
}

body.open .quick-info {
    display: none;
}

header {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 10;

    .logo-laced {
        float: left;
        margin: em(15) 0 0 em(15);
    }

    .nav-wrapper {
        display: none;

        nav {
            margin: em(65) em(15) em(15) em(15);
            a {
                font-size: em(31);
                text-decoration: none;
                display: block;
                margin-bottom: em(2);
                /*text-rendering: optimizeLegibility;*/
            }
            a:active, a:visited, a {
                color: #fff;
            }
            a.current {
                color: $orange;
            }
        }
    }

    .form-wrapper{
        display: none;
        position: absolute;
        z-index: 4;
        width: 100%;
        height: calc(100% - 63px);
        overflow: auto;
        top: em(63);
        -webkit-overflow-scrolling: touch;
        p{
            color: $white;
            margin: 0;
            padding-bottom: em(10);
            font-size: em(18);
            font-weight: bold;
        }
        > div{
            padding: em(40) em(15) em(40) em(15);
        }
        .input-form,   .textarea-form{
            display: block;
            width: 100%;
            background: none;
            border: 1px solid white;
            box-sizing: border-box;
            color: white;
            outline: none;
        }
        .input-form{
            padding: em(9) em(10) em(9) em(10);
            margin-bottom: em(20);
        }
        .textarea-form{
            margin-bottom: em(10);
            min-height:  em(160);
            padding: em(9) em(10);
            resize: none;
        }
        .input-form.error{
            margin-bottom: em(5);
        }
        .textarea-form.error{
            margin-bottom: em(5);
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: white;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: white;
        }
        :-ms-input-placeholder { /* IE 10+ */
            color: white;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: white;
        }
        .submit-btn{
            display: block;
            width: 100%;
            max-width: em(120);
            padding: em(10) 0;
            margin: 0 auto;
            border: 0;
            background-color: $red;
            box-sizing: border-box;
            color: white;
        }
    }
}

.get-directions-btn{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: black !important;
    border: 1px solid black;
    padding: em(5) em(10);
    margin-bottom: em(100);
}
.contact-form-container{
    .error{
        display: inline-block;
        color: red;
        margin-bottom: em(20);
    }
    .input-form,   .textarea-form{
        display: block;
        width: 100%;
        background: none;
        border: 1px solid black;
        box-sizing: border-box;
        color: black;
        outline: none;
    }
    .input-form{
        padding: em(9) em(10) em(9) em(10);
        margin-bottom: em(20);
    }
    .input-form.error{
        margin-bottom: 0;
    }
    .textarea-form.error{
        margin-bottom: 0;
    }
    .textarea-form{
        margin-bottom: em(40);
        min-height:  em(160);
        padding: em(9) em(10);
        resize: none;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: black;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: black;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: black;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: black;
    }
    .submit-btn{
        display: block;
        width: 100%;
        max-width: em(120);
        padding: em(10) 0;
        border: 0;
        background-color: $red;
        box-sizing: border-box;
        color: white;
    }
}

.contact-page .contact-container{
    .title-section{
        display: none;
    }
}

ul.menu-social-links {
    list-style: none;
    margin: em(50) 0 em(40) em(15);
    padding: 0;
    a:active, a:visited, a {
        color: #000;
        font-size: em(40);
    }
    li {
        float: left;
        display: inline-block;
        margin: 0 em(18) 0 0;
    }
}

address.menu {
    display: none;
}

.menu-phone, .menu-address {
    color: #fff;
    font-style: normal;
    margin: em(43) 0 0 em(12);
    font-size: em(22);
}

.menu-address {
    margin: em(15) 0 0 em(12);
}

#hero-banner {
    @include aspect-ratio(9, 16);
    img {
        width: 100%;
    }
}

section {
    .item-wrapper{
        padding: em(10) em(15) em(40) em(15);
        .left-column {
            img {
                margin-bottom: em(20);
            }
        }
    }
}

.title-section {
    margin: em(40) 0 em(20) em(15);
}

.services-items {
    h2 {
        margin-bottom: 0;
    }
}

p.p-short-caption {
    line-height: em(16);
    font-size: em(14);
}

a.more-details, .footer-quick-form {
    display: inline-block;
    text-transform: uppercase;
    color: #000;
    font-size: $more-detail-sm-font-size;
    font-weight: 400;
    padding: em(8);
    border: 1px #000 solid;
    text-decoration: none;
}

.contact-content {
    text-align: center;
    .footer-logo {
        margin-bottom: em(40);
        .logo-wrapper {
            display: inline-block;
            width: em(64);
            img {
                width: 100%;
            }
        }
    }
    margin-bottom: em(60);
    ul {
        margin-left: auto;
        margin-right: auto;
        max-width: em(195);
        li:last-child {
            margin-right: 0;
        }
    }
}

.footer-quick-form {
    text-transform: capitalize;
}

.contact-container {
    address {
        p {
            font-style: normal;
            font-size: $footer-sm-font-size;
            font-weight: 300;
        }
    }
}

.video-wrapper {
    @include box-aspect-ratio(560/315); // Just use the pixel dimensions of the "original" size

    iframe,
    object,
    embed {
        @include fill-parent();
    }
}

.player-wrapper {
    position: relative;
}

.play-button:after, .play-button:before {
    content: "";
    display: block;
    border-radius: 50%;
}

.play-button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: #191919;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.play-button:before {
    width: 125px;
    height: 125px;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.play-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: top .2s ease;
    transition: top .2s ease;
}

.youtube-player__play {
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.play-button__triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%,-50%);
    /* transform: translate(-40%,-50%); */
    width: 50%;
    height: 50%;
    fill: #fff;
    z-index: 20;
}

.youtube-player__close-btn {
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    pointer-events: none;
    top: 16px;
    right: 15px;
    position: absolute;
    width: 30px;
    height: 30px;
}

.youtube-player__close-btn:after, .youtube-player__close-btn:before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: width .25s ease;
    transition: width .25s ease;
}

.youtube-player__close-btn:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.youtube-player__close-btn:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.youtube-player--show-close-btn {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    z-index: 4;
}

.border {
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    box-sizing: border-box;
}

.info-box {
    text-align: center;
    padding: em(30) !important;
    p {
        margin: 0 0 em(10) 0 !important;
        padding: 0 !important;
        font-size: em(12);
    }
    h2 {
        margin: 0 !important;
        padding: 0 !important;
    }
    .heading {
        margin: em(10) 0;
        height: auto !important;
        display: block !important;
    }
}

.info-box.min-height {
    min-height: em(460);
}

.info-box.vcenter {
    padding: em(130) em(30) !important;
    min-height: 380px;
    > div {
        display: block !important;
        height: auto !important;
    }
}

.quote {
    color: #fff;
    background-color: $quote-color;
    border-top: 1px solid $quote-border-color;
    border-right: 1px solid $quote-border-color;
    .quote-symbol {
        font-size: em(60);
        display: block;
        height: 60px;
    }
    blockquote {
        font-style: italic;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }
}

footer {
    margin-top: em(100);
}
