@import "_colors.scss";
@import "_variables.scss";
@import "_functions.scss";

@media screen and (min-width: 431px) {
    .overview, .detail {
        section {
            width: 50%;
            float: left;
        }

        .hero-content {
            padding: em(20) em(30) 0 em(30);
        }

        section {
            .item-wrapper {
                padding-left: em(30);
            }
        }

        .with-icon:before {
            top: em(80);
        }
    }

    .detail {
        .main {
            padding-bottom: em(80);
            padding-left: em(70);
            padding-right: em(70);
            h2 {
                margin: 0;
            }
            p {
                margin: em(20) 0 0 0;
            }
        }

        h2 {
            margin-top: 0;
        }

        #hero-banner {
            @include aspect-ratio(16, 9);
            img {
                width: 100%;
            }
        }

        .detail-section {
            p {
                margin-left: 0;
            }
        }

        .detail-content-wrapper {
            padding: em(80) em(70) em(80) em(70);
        }

        .more-work {
            section {
                float: left;
                width: 50%;
            }
        }

        .detail-split-section {
            width: 100%;
            float: none;
        }

        .more-details.main {
            margin-left: em(30);
        }

        .title-section {
            margin-left: em(30);
        }
    }

    .detail.contact {
        .title-section {
            margin: em(100) 0 em(40) em(30);
        }

        .direction-wrapper {
            margin: em(40) 0 em(100) 0;
        }
    }

    .detail.service, .detail.careers {
        section.centered {
            display: none;
        }
    }
}

@media screen and (min-width: 769px) {
    .overview, .detail {
        section {
            width: 33.3333%;
            float: left;
        }

        .detail-content-wrapper {
            padding: em(80) 25%;
        }

        .more-work {
            section {
                float: left;
                width: 33.3333%;
            }
        }

        .detail-split-section {
            .left, .right {
                float: left;
                width: 50%;
            }

            .detail-content-wrapper.right {
                padding: 0;
                > div {
                    padding: em(40) em(50) 0 em(50);
                }
            }
        }

        footer {
            .title-section {
                margin-left: em(30);
            }
        }

        .with-contrast {
            padding-top: 0;
        }

        .with-icon:before {
            top: 50%;
            margin-top: -50px;
            left: calc(12.5% - 50px);
        }

        .inner {
            padding: em(30);
        }
    }

    .detail {
        .main {
            padding-left: 25%;
            padding-right: 25%;
        }
    }
}

@media screen and (min-width: 1280px) {
    .detail {
        .detail-split-section {
            .right {
                > div {
                    margin-top: em(80);
                }
            }
        }
    }

    .service, .careers {
        section .item-wrapper {
            padding: 0 25%;
        }
        .col-xlg-2 {
            width: 50%;
            float: left;
        }
        .col1 {
            .heading {
                font-size: em(22);
            }
            padding: em(60) em(40) em(40) em(40);
            box-sizing: border-box;
            text-align: center;
        }
        .col2 {
            padding: em(60) em(40) em(40) em(80);
            box-sizing: border-box;
        }

        .main {
            .title {
                position: absolute;
                top: 70%;
                left: 50%;
                margin-top: -28px;
                margin-left: -430px;
                font-size: 20px;
                color: white;
                text-align: center;
            }

        }

        .title-section {
            h1 {
                margin: 0 !important;
            }
            margin-top: em(20);
        }

        .hide-desktop {
            display: none;
        }

        #hero-banner-section {
            position: relative;
        }
    }
}