@import "_colors.scss";
@import "_variables.scss";
@import "_functions.scss";

.overview, .detail {
    .item-wrapper {
        > div {
            height: em(65);
            @include flexbox();
            align-items: flex-end;
        }
    }

    .hero-content {
        padding: em(20) em(15) 0 em(15);
    }

    section {
        margin-bottom: em(60);
        .item-wrapper {
            padding: 0 em(15) em(20) em(15);
            h2 {
                margin-bottom: 0;
            }
        }
    }

    section.full {
        float: none;
        width: 100%;
    }

    #hero-banner-section {
        margin-bottom: em(40);
        float: none;
        width: 100%;
    }

    .overview, .detail {
        footer {
            p {
                margin-bottom: em(16);
            }
        }
    }

    footer {
        .title-section {
            margin-top: 0;
        }
    }

    .detail-section {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }

    .with-contrast {
        background-color: #000;
        color: #fff;
        position: relative;
        padding-top: em(150);
        h2 {
            color: $laced-color;
        }
    }

    .with-icon:before {
        position: absolute;
        top: em(15);
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
    }

    .with-icon.service-mm-icon:before {
        content: url(../images/services-dr/icon-media-management-white.png);
    }

    .with-icon.service-da-icon:before {
        content: url(../images/services-dr/data-analysis-white.png);
    }

    .with-icon.service-creative-icon:before {
        content: url(../images/services-dr/icon-creative-white.png);
    }

    .with-icon.service-tech-icon:before {
        content: url(../images/services-dr/icon-technical-white.png);
    }

    .inner {
        padding: em(15);
        p {
            font-size: em(12);
            margin-bottom: em(10);
        }
    }
}

.detail {
    section {
        margin-bottom: 0;
    }

    #hero-banner {
        @include aspect-ratio(3, 4);
        img {
            width: 100%;
        }
    }

    #hero-banner-section {
        margin-bottom: 0;
    }

    h2, p {
        margin: 0;
    }

    ul {
        margin-bottom: 0;
    }

    .main {
        > div {
            margin-bottom: em(30);
        }
        padding: em(15);
    }

    .detail-section {
        width: 100%;
        float: none;
        margin-bottom: 0;
        p {
            margin-top: em(30);
        }
    }

    .detail-content-wrapper {
        > div {
            margin-bottom: em(30);
        }
        padding: em(15);
    }

    .detail-img-separator {
        height: em(20);
    }

    .title-section {
        margin: 0 0 0 em(15);
    }

    .detail.contact .title-section {
        margin: em(40) 0 em(20) em(15);
    }

    .more-work {
        section {
            margin-top: em(80);
        }
        margin-top: em(80);
    }

    .contact-container {
        address {
            p {
                margin-bottom: em(16);
            }
        }
        margin-top: em(80);
    }

    .contact-content {
        margin-top: em(25);
    }

    footer h1 {
        margin-top: 0;
    }
}

.detail.service, .detail.careers {
    .title-section {
        h1 {
            margin-top: em(30);
            margin-bottom: em(20);
        }
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .icon-container {
        width: 100px;
        height: 100px;
        float: left;
        box-sizing: border-box;
        padding: em(10);
        text-align: center;
    }

    section.centered {
        max-width: 300px;
        margin: 0 auto em(60) auto;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .icon.centered {
        display: block;
        margin: 0 auto;
    }

    .item-wrapper {
        > div {
            height: auto;
            display: block;
        }
        .heading {
            margin-top: em(20); 
        }
        margin-bottom: em(60);
    }
}

.detail.contact {
    .title-section {
        margin-top: em(20);
    }

    .direction-wrapper {
        margin: em(40) 0 em(60) 0;
    }
}

.video-trigger picture {
    cursor: pointer;
}

.careers {
    .title-section {
        margin-top: em(80) !important;
    }

    .careers-container {
        .one-half {
            .item {
                width: 50%;
                float: left;
            }
        }
        .one-third {
            .item {
                width: 33.333333333%;
                float: left;
            }
        }
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
}
.jamba-juice-banners {
    text-align: center;
}
.banner-to-hide {
    display: none !important;
}