.img-responsive{
    display: block;
    /*    max-width: 100%;*/
    width: 100%;
    height: auto;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.no-padding-bottom-mobile {
    padding-bottom: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.right-border {
    border-right: 1px solid;
}

@media screen and (max-width: 768px) {
    .hide-tablet-mobile {
        display: none;
    }
}

@media screen and (min-width: 431px) {
    .no-padding-bottom-tablet {
        padding-bottom: 0 !important;
    }
}

@media screen and (min-width: 769px) {
    .no-padding-tablet-desktop {
        padding-bottom: 0 !important;
    }

    .padding-80-top {
        padding-top: em(80) !important;
    }
}
