$border-color: #e1e1e1;
$quote-border-color: #fff;
$laced-color: #cc3300;
$quote-color: #c22f1e;
$no-border-color: #fff;
$title-sm-font-size: em(22);
$title-md-font-size: em(28);
$title-lg-font-size: em(28);
$title-xlg-font-size: em(28);

$more-detail-sm-font-size: em(12);
$more-detail-md-font-size: em(12);
$more-detail-lg-font-size: em(12);
$more-detail-xlg-font-size: em(12);

$footer-sm-font-size: em(14);
$footer-md-font-size: em(16);
$footer-lg-font-size: em(16);
$footer-xlg-font-size: em(16);

$p-sm-line-height: em(22.4);
$p-md-line-height: em(28.5);
$p-lg-line-height: em(28.5);
$p-xlg-line-height: em(28.5);

$p-sm-font-size: em(16);
$p-md-font-size: em(18);
$p-lg-font-size: em(18);
$p-xlg-font-size: em(18);

$h2-sm-font-size: em(18);
$h2-md-font-size: em(18);
$h2-lg-font-size: em(18);
$h2-xlg-font-size: em(18);

$h2-sm-line-height: em(20);
$h2-md-line-height: em(20);
$h2-lg-line-height: em(18);
$h2-xlg-line-height: em(20);